<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.o2em">
		<category id="general" label="128">
			<group id="1">
				<setting id="o2em_bios" type="string" label="30001" help="30011">
					<level>0</level>
					<default>o2rom.bin</default>
					<constraints>
						<options>
							<option label="30012">o2rom.bin</option>
							<option label="30013">c52.bin</option>
							<option label="30014">g7400.bin</option>
							<option label="30015">jopac.bin</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_region" type="string" label="30002" help="30016">
					<level>0</level>
					<default>auto</default>
					<constraints>
						<options>
							<option label="30017">auto</option>
							<option>NTSC</option>
							<option>PAL</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_swap_gamepads" type="string" label="30003" help="30018">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_vkbd_transparency" type="string" label="30004" help="30019">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30020">0</option>
							<option label="30021">25</option>
							<option label="30022">50</option>
							<option label="30023">75</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_crop_overscan" type="string" label="30005" help="30024">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_mix_frames" type="string" label="30006" help="30025">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="30026">mix</option>
							<option label="30027">ghost_65</option>
							<option label="30028">ghost_75</option>
							<option label="30029">ghost_85</option>
							<option label="30030">ghost_95</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_audio_volume" type="string" label="30007" help="30031">
					<level>0</level>
					<default>50</default>
					<constraints>
						<options>
							<option label="30020">0</option>
							<option label="30032">5</option>
							<option label="30033">10</option>
							<option label="30034">15</option>
							<option label="30035">20</option>
							<option label="30021">25</option>
							<option label="30036">30</option>
							<option label="30037">35</option>
							<option label="30038">40</option>
							<option label="30039">45</option>
							<option label="30022">50</option>
							<option label="30040">55</option>
							<option label="30041">60</option>
							<option label="30042">65</option>
							<option label="30043">70</option>
							<option label="30023">75</option>
							<option label="30044">80</option>
							<option label="30045">85</option>
							<option label="30046">90</option>
							<option label="30047">95</option>
							<option label="30048">100</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_voice_volume" type="string" label="30008" help="30049">
					<level>0</level>
					<default>70</default>
					<constraints>
						<options>
							<option label="30020">0</option>
							<option label="30032">5</option>
							<option label="30033">10</option>
							<option label="30034">15</option>
							<option label="30035">20</option>
							<option label="30021">25</option>
							<option label="30036">30</option>
							<option label="30037">35</option>
							<option label="30038">40</option>
							<option label="30039">45</option>
							<option label="30022">50</option>
							<option label="30040">55</option>
							<option label="30041">60</option>
							<option label="30042">65</option>
							<option label="30043">70</option>
							<option label="30023">75</option>
							<option label="30044">80</option>
							<option label="30045">85</option>
							<option label="30046">90</option>
							<option label="30047">95</option>
							<option label="30048">100</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_low_pass_filter" type="string" label="30009" help="30050">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="o2em_low_pass_range" type="string" label="30010" help="30051">
					<level>0</level>
					<default>60</default>
					<constraints>
						<options>
							<option label="30032">5</option>
							<option label="30033">10</option>
							<option label="30034">15</option>
							<option label="30035">20</option>
							<option label="30021">25</option>
							<option label="30036">30</option>
							<option label="30037">35</option>
							<option label="30038">40</option>
							<option label="30039">45</option>
							<option label="30022">50</option>
							<option label="30040">55</option>
							<option label="30041">60</option>
							<option label="30042">65</option>
							<option label="30043">70</option>
							<option label="30023">75</option>
							<option label="30044">80</option>
							<option label="30045">85</option>
							<option label="30046">90</option>
							<option label="30047">95</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
